* {
  /*border-width: thin;
  border-style: dashed;
  border-color: white;*/
}
html, body {
  padding: 0px;
}
body {
  padding-top: 8%;
  background: url("images/battler.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.mid_div {
  margin-top: 7%;
  font-size: 1200%;
  color: rgb(227, 3, 255);
  text-align: center;
}
.char_1 {
  background-image: url("images/question.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-width: medium;
  border-style: solid;
  border-color: red;
  background-color: white;
}
.char_2 {
  background-image: url("images/question.jpg") ;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-width: medium;
  border-style: solid;
  border-color: blue;
  background-color: white;
}
.txt1 {
  margin-top: 138%;
  width: 100%;
  border-style: solid;
  border-color: rgb(28, 173, 245);
}
.txt2 {
  margin-top: 138%;
  width: 100%;
  border-style: solid;
  border-color: rgb(28, 173, 245);
}