* {
  /*padding: 1em;*/
  /*border-width: thin;
  border-style: dashed;
  border-color: white;*/
}
html,body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
body {
  background-size: 100%;
  background-image: url("battler.jpg");
  background-repeat: no-repeat;
}
.div_0 {
  padding-top: 7%;
}
.mid_div {
  margin-top: 6%;
  font-size: 1200%;
  left: 17%;
  color: rgb(227, 3, 255);
}
.char_1 {
  background-image: url("images/donald_trump.jpg");
  background-size: 300px 420px;
  background-repeat: no-repeat;
  height: 420px;
  width: 300px;
  transform: scale(-1, 1);
  border-width: medium;
  border-style: solid;
  border-color: red;
  background-color: white;
  position: relative;
  left: 10%;
}
.char_2 {
  background-image: url("images/clinton.jpg");
  background-size: 300px 420px;
  background-repeat: no-repeat;
  height: 420px;
  width: 300px;
  border-width: medium;
  border-style: solid;
  border-color: blue;
  background-color: white;
  position: relative;
  left: 20%;
}